body{
  background-color: black;
}
#signup-form-div{
 border-top: 1px solid rgb(175,175,175);
 width: 25%;
 height: 350px;
 margin: auto;
 margin-top:50px;
 background-color: rgb(175,175,175);
 border-radius: 30px;
 box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 font-family: 'Open Sans', sans-serif;
}
.edit{
  width:70%;
  margin-top:10px ;
  padding: 8px;
  margin-left:35px;
  margin-bottom:10px ;
  border-radius:2px;
}
#head{
 text-align: center;
 font-size:25px ;
 margin-top:15px;
}
#submit{
   width: 40%;
   height: 40px;
   margin-left: 95px;
   margin-top:10px ;
   background-color:rgb(0,122,255);
   border-radius:10px;
   border: none;
   color: white;
   font-size:20px;
   font-weight: 700 ;
}
input:focus {
  border:5px solid rgb(196, 173, 177);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}